.container{
    display: flex;
    width: 1184.07px;
    padding: 24px 0px;
    justify-content: space-between;
    align-items: flex-start;
}
.containerTexts{
    display: flex;
    height: 465px;
    padding: 67px 15px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.subtitle{
    font-family: Montserrat;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #1D3557;
}

.firstText{
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #263238;
}

.secondText{
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    color: #263238;
}